* {
    box-sizing: border-box;
}
div.p1 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40px 200px 200px 200px;
}
div.c1 {
    width: 100%;
    height: 100%;
    grid-column: 1/-1;
    background-color: tomato;
}
div.c2 {
    width: 100%;
    height: 100%;
    grid-column: 1/-1;
    background-color: blanchedalmond;
}
div.c3 {
    width: 100%;
    height: 100%;
    grid-row: 3/-1;
    background-color: blue;
}
div.c4 {
    padding: 10px;
    width: 100%;
    height: 100%;
    position: relative;
    top: -10;
    grid-column: 2;
    background-color: red;
}
div.c5 {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    height: 100%;
    grid-column: 2;
    background-color: green;
}
div.c5 button {
    margin: 10px auto 10px 10px;
}